.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-lightgray{
  background-color: lightgray;
}

.image2{
  width: 35px;
}
.header{
  border-bottom: 5px solid #000;
}

@media only screen and (max-width: 400px){
  
  
  

}
.social-media{
  margin-left: 20px;
}
.icon{
  text-decoration: none;
  color: #000;
}
.space-between{
  justify-content: space-between;
}
.item-center{
  align-items: center;
}

p{
  color: #a09f9f;
  
}
.title{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.cards{
  max-width: 30rem;
}
.border-b{
  border-bottom: 5px solid #000;
}
.image{
  max-width: 32.5rem;
  max-height: 20rem;
  min-height: 20rem;
  min-width: 32.5rem;
}
.containers{
  max-width: 1640px !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .image{
    max-width: 22rem;
    max-height: 12rem;
    min-height: 12rem;
    min-width: 22rem;
  }
  .big_image{
    max-width: 22rem;
    max-height: 12rem;
    min-height: 12rem;
    min-width: 22rem;
  }
  
}
.big_image{
  max-width: 50rem;
  max-height: 30rem;
  min-height: 30rem;
  min-width: 50rem;

}
.small-image{
  max-width: 20rem;
  max-height: 12rem;
  min-height: 12rem;
  min-width: 20rem;

}